*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height:max-content;
    /* min-height: 200vh; */
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    background-image: url(https://media.istockphoto.com/id/1007705348/photo/happy-women-in-hats-with-american-flag-in-park.jpg?s=2048x2048&w=is&k=20&c=2RAeCAcSCRxaxADjpKBoI2j5T9uLz__rHGKGUbx0mco=);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.716);
    color: #ffffff;
}
.header{
    background-color: rgba(0, 0, 0, 0.162);
    border-bottom: #505050 solid 2px;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 9;
    overflow: hidden;
}
.header a{
    color: #ffffff;
    text-decoration: none;
}
.content-header{
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 10vw;
    padding-left: 10vw;
    /* background-color: #009dff; */
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}
.logo-div{
    background-color: rgba(0, 255, 255, 0);
    width: 50%;
    height: 8vh;
}
.content-logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    background-color: rgba(195, 159, 159, 0);
}
.content-logo-div a{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    background: linear-gradient(to right, rgb(255, 77, 77), rgb(113, 113, 255), white, white);
    -webkit-background-clip: text;
    color: transparent;
}
.content-logo-div a i{
    font-size: 40px;
    margin-right: 10px;
}
.content-logo-div img{
    width: 45px;
    margin-right: 1vw;
}
.u{
    color: #ff3f3f;
}
.s{
    color: #009dff;
}
.links-div{
    background-color: rgba(0, 82, 82, 0);
    width: 50%;
    height: 8vh;
}
.content-links-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
}
.links-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    /* gap: 30px; */
    list-style: none;
}

                                                      /* بداية التاثير الضوءي باللون الازرق */

/* .links-header a {
    animation: blink 2s infinite;
    transition: 0.4s;
}
@keyframes blink {
    0%, 100% {
        color: white;
    }
    50% {
        color: rgb(0, 179, 255);
    }
}
.links-header li:nth-child(1) a{
    animation-delay: 0s;
}

.links-header li:nth-child(2) a{
    animation-delay: 0.5s;
}

.links-header li:nth-child(3) a{
    animation-delay: 1s;
}

.links-header li:nth-child(4) a{
    animation-delay: 1.5s;
}

.links-header li:nth-child(5) a{
    animation-delay: 2s;
} */

                                                        /*  نهاية التاثير الضوءي باللون الازرق */

.links-header li img{
    width: 50px;
}
.links-header li{
    /* background-color: #009dff; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.links-header a:hover{
    animation: blink 0s infinite;
    /* border-left: #009dff31 solid 10px;
    border-right: #009dff2b solid 10px; */
    background-color: #022e4656;
    padding: 6px;
}
.links-header a{
    transition: 0.5s;
    min-width: max-content;
}
.USAG{
    display: none;
}
.trav{
    display: none;
}
.home-v-back{
    width: 120vw;
    height: 110vh;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: -10vw;
    opacity: 10%;
}
.home{
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/16701109/pexels-photo-16701109/free-photo-of-jefferson-memorial-in-washington-dc.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    /* background-image: url(https://images.pexels.com/photos/129112/pexels-photo-129112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    /* background-image: url(https://images.unsplash.com/photo-1473090826765-d54ac2fdc1eb?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-content{
    background-color: #0000007e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    z-index: 1;
}
.text-home-content{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.text-div{
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    padding-top: 33vh;

}
.img-home-content{
    background-color: rgb(255, 0, 0);
    width: 0%;
    height: 100vh;
}
.img-div{
    background-color: rgba(0, 85, 57, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.img-div img{
    width: 2.5vw;
    /* transform: rotate(-55deg);  */
    position: absolute;
    top: 12%;
    left: -100%; /* بدء الصورة خارج الشاشة من اليسار */
    transform: translateY(-50%);
    animation: moveImage 20s linear infinite;
    z-index: 8;
}

@keyframes moveImage {
    0% {
        left: -1%;
    }
    100% {
        left: 120%; /* نهاية الصورة خارج الشاشة من اليمين */
    }
}
.media-home-content{
    width: 0vw;
    height: 0vh;
}
.media-div{
    width: 0vw;
    height: 0vh;
}
.media{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 90vh;
    right: 10vw;   
    gap: 20px;
    list-style: none;
    /* background-color: #0095ff00; */
    z-index: 7;
}
.media a{
    text-decoration: none;
}
.media i{
    font-size: 25px;
    color: #ffffff79;
    background-color: #009dff00;
}
.arrow-home-content{
    width: 0vw;
    height: 0vh;
}
.arrow-home-content a{
    text-decoration: none;
    color: #ffffff;
}
.arrow-div{
    width: max-content;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #009dff00;
    position: absolute;
    top: 90vh;
    left: 47.4vw;
    /* color: #72bbff; */
}
.arrow-div h3{
    font-size: 15px;
    margin-bottom: 10px;
    animation: move-arrow-in 2s linear infinite;
}


.arrow {
    position: relative;
    /* top: 95vh;
    left: 48.9vw; */
    animation: move-arrow-in 2s linear infinite;
    width: 2vw; 
    height: 2vh;
    background-color: #00909d00;
}
@keyframes move-arrow-in {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(0%);
    }
}
.a-o-m{
    color: #72bbff;
    /* background-color: #009dff; */
    animation: move-arrow-gb 5s linear infinite;
}
@keyframes move-arrow-gb {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    20% {
        opacity: 1;
        transform: translateY(0%);
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }    
    90% {
        opacity: 1;
        transform: translateY(0%);
    }    
    100% {
        opacity: 0;
        transform: translateY(0%);
    }
}
/* .a-o-m h3{
    position: absolute;
    animation: hmhvav 10s linear infinite;
    font-size: 27px;
    top: 32.5vh;
}
@keyframes hmhvav {
    0% {
        opacity: 0;
        left: -1%;
    }
    20%{
        opacity: 1;
        left: 30%;
    }
    50%{
        opacity: 1;
        left: 30%;
    }
    100% {
        opacity: 0;
        left: 30%; /* نهاية الصورة خارج الشاشة من اليمين
    }
} */
  .footer{
    background-color: #000000c8;
    width: 100vw;
    height: max-content;
  }
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: max-content;
    padding: 10px;
    text-align: center;
    box-shadow: #000000 0px -20px 20px 0px;
}
.home-m-back{
    display: none;
}
/* Responsive Styles */
@media (max-width: 768px) {
    .home{
        background-image: url(https://images.pexels.com/photos/5847366/pexels-photo-5847366.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        /* background-image: url(https://images.pexels.com/photos/12589500/pexels-photo-12589500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
        background-position: center;
        background-size: cover;
        background-position-y: 20%;
    }
    .home-content{
        background-color: #000000bd;
    }
    .text-div{
        background-color: rgba(127, 255, 212, 0);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 20vh;
    
    }
    #nav-links {
        display: none;
        flex-direction: column;
        gap: 0;
    }

    .menu-icon {
        display: block;
        z-index: 11;
    }

    #nav-links.active {
        display: flex;
        background-color: #000000dc;
        position: fixed;
        top: 0vh;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        padding-top: 15vh;
    }
    .links-header li{
        background-color: #ff000000;
        height: 100%;
        width: 60vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-bottom: #74dfff78 solid 4px;
        border-radius: 20px;
        transition: 0.2s;
    }
    /* .links-header li:hover{
        background-color: #009dab13;
    } */
    .links-header a{
        /* margin-top: 20px; */
        /* background-color: #0000005e; */
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;   
        transition: 0.2s;
    }
    .img-div img{
        width:40px;
        /* transform: rotate(-55deg);  */
        position: fixed;
        top: 11.5%;
        left: -100%; /* بدء الصورة خارج الشاشة من اليسار */
        transform: translateY(-50%);
        animation: moveImage 10s linear infinite;
        z-index: 8;
    }
    @keyframes moveImage {
        0% {
            opacity: 0;
            left: 0%;
        }
        20% {
            opacity: 1;
            /* left: 10%; */
        }
        90% {
            opacity: 1;
            /* left: 10%; */
        }
        100% {
            opacity: 0;
            left: 90%; /* نهاية الصورة خارج الشاشة من اليمين */
        }
    }
    .USAG{
        display: block;
    }
    .trav{
        display: block;
        width: 70vw;
        opacity: 60%;
        animation: trav 3s linear infinite;
        cursor: none;
    }
    @keyframes trav {
        0% {
            opacity: 0;
            left: 0%;
        }
        20% {
            opacity: 60%;
        }
        90% {
            opacity: 60%;
        }
        100% {
            opacity: 0;
            left: 0%; 
        }
    }
    .home-v-back{
        display: none;
    }
    .home-m-back{
        display: block;
        position: absolute;
        top: 0px;
        left: -20vw;
        width: 120vw;
        height: 100vh;
        opacity: 55%;
    }
    .logo-links img{
        margin-right: 20px;
    }
    .content-logo-div img{
        width: 50px;
        margin-right: 10px;
    }
    .logo-div{
        width: max-content;
        z-index: 11;
    }
    .arrow {
        width: 5vw;
    }
    .arrow-div{
        /* background-color: #009dff; */
        width: 100vw;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }
}
